body {
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    max-width: 670px;
    width: 100%;
    height: 300px;
    margin: 10px auto;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: white;
    background:linear-gradient(20deg, rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.64)),url("./assets/360_F_500345899_4OqmtspFst6SRnNQvLj7h7TfKOrBwTer.jpeg") repeat center center fixed;
}

.remove-top-margin {
    margin-top: 0;
}
.logo {
    max-width: 100%;
}

.logo-placeholder {
    padding: 5px;
    text-align: center;
}

.content {
    padding: 0 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.counter {
    width: 500px;
}

@media (min-width: 481px) and (max-width: 767px) {

    .counter {
        width: 450px;
    }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    .counter {
        width: 350px;
    }

}