body {
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: white;
}

.remove-top-margin {
    margin-top: 0;
}
.logo {
    max-width: 100%;
}

.logo-placeholder {
    text-align: center;
}

.content-inner {
    padding: 0 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.counter {
    width: 500px;
}

@media (min-width: 481px) and (max-width: 767px) {

    .counter {
        width: 450px;
    }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    .counter {
        width: 350px;
    }

}


.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}